# Database credentials for root access
POSTGRES_DB=gmDB
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd

# Django superuser credentials
DJANGO_SUPERUSER_USERNAME=superuser
DJANGO_SUPERUSER_PASSWORD=superpwd
DJANGO_SUPERUSER_EMAIL=